spring:
  batch:
    job:
      names: ${job.name:NONE}   #배치앱을 실행하면 모든 JOB이 실행되는 상황을 막기 위해서 설정해줌. job name 파라미터로 job을 실행 시킬 수 있음. 또한 모든 배치가 실행되는 것을 막을 수 있음.

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql : true
        default_batch_fetch_size: 1000

  datasource:
    url: jdbc:mysql://localhost:3306/batch?serverTimezone=UTC
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver